@import 'normalize.css';
@import './css-shared/variables.css';
@import './css-shared/media-queries.css';
@import './css-shared/global.css';
@import './css-shared/typography.css';


.container {
  text-align: center;
  margin: 2em 1em;
}

.title {
  text-transform: uppercase;
  font-size: 2rem;
  color: var(--orange);
  font-size: 4rem;
  text-shadow: -1px 3px 0 var(--light);
}
